<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<div class="email" style="text-align:center;">
    <%= @user.email %>
</div>

<div class="place" style="text-align:center;">
    <%= @user.place %>
</div>

<div class="bio" style="text-align:center;">
    <%= @user.bio %>
</div>
